<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyrobotics.pocketbookspro"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    
    <application
       android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name"
        android:theme="@style/headerBackground" android:name="com.happyrobotics.pocketbookspro.PocketBooksApplication" android:debuggable="true">
        <activity
            android:label="@string/app_name"
            android:name="com.pocketbooks.AccountsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pocketbooks.NewAccountActivity" >
        </activity>
        <activity android:name="com.pocketbooks.TransactionsActivity" >
        </activity>
        <activity android:name="com.pocketbooks.CategoriesEditActivity" ></activity>
        <activity
            android:name="com.pocketbooks.NewTransactionActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity android:name=".TransactionActivity" >
        </activity>
        <activity android:name="com.pocketbooks.Prefs"></activity>
        <activity android:name="com.happyrobotics.pocketbookspro.NewCategory"></activity>
    </application>

</manifest>
