<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyrobotics.pocketbookspro"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>
    
    <application
       android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name"

        android:name="com.happyrobotics.pocketbookspro.PocketBooksApplication" >
        <activity android:name="OverviewActivity">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.happyrobotics.pocketbookspro.AccountsActivity" >
           
        </activity>
        <activity android:name="com.happyrobotics.pocketbookspro.NewAccountActivity" >
        </activity>
        <activity android:name="com.happyrobotics.pocketbookspro.TransactionsActivity" >
        </activity>
        <activity android:name="com.happyrobotics.pocketbookspro.CategoriesEditActivity" ></activity>
        <activity
            android:name="com.happyrobotics.pocketbookspro.NewTransactionActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity android:name=".TransactionActivity" >
        </activity>
        <activity android:name="com.happyrobotics.pocketbookspro.Prefs"></activity>
        <activity android:name="com.happyrobotics.pocketbookspro.NewCategory"></activity>
        
    </application>

</manifest>
